.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    background: linear-gradient(135deg,#ff8a00,#e52e71);
    color: #fff;
}

.navbar .logo{
    cursor: pointer;
}

.dark-btn{
    background-color: white;
    color: #e52e71;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}