.search-bar{
    text-align: center;
    margin: 1.5rem 0;
}

.search-bar .input{
    padding: 0.8rem;
    width: 65%;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.search-bar .btn1{
    margin-left: 10px;
    padding: 0.8rem 1rem;
    background: #ff8a00;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}